.rotate_on_hover {
  display: inline-block;
  transition: transform 2s;
}

.rotate_on_hover:hover {
  animation: spin 0.6s linear 1;
}

.rotate_on_hover:active {
  animation: spin 0.6s linear 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #924187;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b96aae;
}